/*styles*/
body{
    font-family: "Arial", "sans serif";
    background:rgb(255, 255, 255);
    color: rgb(75, 79, 88);
}

h1 {
    font-family: "Zeyada", cursive;
    line-height: 0.5;
    font-size: 4.5em;
    color: white;
}

h2 {
    font-family: "Arial","sans serif";
    color: white;
    font-size: 1em;
}
    

h3, h4, h5 {
    font-family: "Arial","sans serif";
}
.jumbotron{
    padding: 30px;
    background-color: #f9d9dc; 
    margin-bottom: 0px;;   
}
.navbar{
    background-color: #f1b1b8;
}
.navbar, .navbar > a {
    font-family: "Arial", "sans serif";
}
nav[aria-label="breadcrumb"]{
    background-color: #e9ecef;
}
footer{
    background-image: linear-gradient(#dc3545a1, white);
    padding: 20px 0;
}

.contentsection{
    padding-top:20px;
    padding-bottom:20px;
}

.btn {
    background-color: #f6c5cb;
    border: solid #d06975 1px;
    color: #d06975;
}

/*about us page styles*/
.aboutus .aboutus_ourteam{
    background-color: rgb(236, 240, 241);

}

/*services page styles*/

.price {
    color: #d06975;
    margin: 0.5em 0.5em;
}

.nav-pills .nav-link {
    color: #d06975;
    border: 1px solid #d06975;
    margin: 0.5em;
}

