/*styles*/
body{
    font-family: "Open Sans", sans-serif;
}

h1, h2{
    font-family: "Caveat", cursive;
}
h3, h4, h5 {
    font-family: "Roboto",sans-serif;
}
.jumbotron{
    padding: 30px;
    background-color: #dc3545a1; 
    margin-bottom: 0px;;   
}
.navbar, .navbar > a {
    font-family: "Caveat", cursive;
}
footer{
    background-image: linear-gradient(#dc3545a1, white);
    padding: 20px 0;
}